body {
    margin: 0;
}

header {
    text-align: right;
}

header a {
    text-align: right;
    color: white;
    background-color: rgb(37, 64, 138);
    border: solid 1px gray;
    border-radius: 3px;
    padding: .25rem .5rem;
    margin-right: .5rem;
    line-height: 1.5rem;
    font-family: sans-serif;
    text-decoration: none;
}

header a:hover {
    background-color: rgb(27, 48, 105);
}

header div {
    margin-top: 10px;
    text-align: center;
    font-size: xx-large;
}

.menu {
    color: white;
    background-color: black;
    padding: 30px 20px;
    margin: 10px 0px;
    line-height: 1.5rem;
    font-family: sans-serif;
}

.menu div:hover {

}